<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<div th:fragment="paginator(pager)">
    <div class="container">
        <!--        pager.pageSizes-->
        <nav aria-label="Page navigation">
            <ul class="pagination">

                <li th:classappend="|page-item ${pager.currentPage le 1 ? 'disabled' : ''}|">
                    <a class="page-link" th:href="@{__${pager.mapping}__/(pageSize=${pager.pageSize}, page=1)}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li th:classappend="|page-item ${pager.currentPage le 1 ? 'disabled' : ''}|">
                    <a class="page-link"
                       th:href="@{__${pager.mapping}__/(pageSize=${pager.pageSize}, page=${pager.currentPage - 1})}">
                        ←
                    </a>
                </li>

                <li th:classappend="|page-item ${pager.currentPage eq page ? 'disabled' : ''}|"
                    th:each="page : ${#numbers.sequence(__${pager.startPage}__, __${pager.endPage}__)}">
                    <a class="page-link"
                       th:href="@{__${pager.mapping}__/(pageSize=${pager.pageSize}, page=${page})}" th:text="${page}">
                    </a>
                </li>

                <li th:classappend="|page-item ${pager.currentPage ge pager.totalPages ? 'disabled' : ''}|">
                    <a class="page-link"
                       th:href="@{__${pager.mapping}__/(pageSize=${pager.pageSize}, page=${pager.currentPage + 1})}">
                        →
                    </a>
                </li>

                <li th:classappend="|page-item ${pager.currentPage ge pager.totalPages ? 'disabled' : ''}|">
                    <a class="page-link"
                       th:href="@{__${pager.mapping}__/(pageSize=${pager.pageSize}, page=${pager.totalPages})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>

                <div class="form-group col-md-2 ms-2">
                    <select class="form-control pagination ps-3" id="pageSizeSelect"
                            th:onchange="changePageAndSize(this.value)">
                        <option th:each="pageSize : ${pager.pageSizes}"
                                th:text="${pageSize}" th:value="${pageSize}"
                                th:selected="${pageSize} == ${pager.pageSize}">
                        </option>
                    </select>
                </div>

            </ul>
        </nav>

        <script th:inline="javascript">
            /*<![CDATA[*/
            function changePageAndSize(pageSize) {
                let pager = /*[[${pager}]]*/ null;
                document.cookie = `${pager.pageSizeCookieName}=${pageSize};path=${pager.mapping}`;
                window.location.replace(`${pager.mapping}?pageSize=${pageSize}&page=1`);
            }

            /*]]>*/
        </script>

    </div>
</div>
</body>
</html>
