<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title=${host.id} ? #{edit.host} : #{add.host}">

<head>
    <title th:text="${title}"></title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <h3 th:text="${title}"></h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/hosts/save-host}" th:object="${host}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="ip" class="col-form-label" th:text="#{host.ip}"></label>
                                <input type="text" th:field="*{ip}" class="form-control"
                                       id="ip" th:placeholder="#{host.ip}"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="mac" class="col-form-label" th:text="#{host.mac}"></label>
                                <input type="text" th:field="*{mac}" class="form-control"
                                       id="mac" th:placeholder="#{host.mac}"/>
                                <span th:if="${#fields.hasErrors('mac')}" th:errors="*{mac}"
                                      class="validation-error"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="hostInterface" class="col-form-label" th:text="#{host.interface}"></label>
                                <input type="text" th:field="*{hostInterface}" class="form-control"
                                       id="hostInterface" th:placeholder="#{host.interface}"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="state" class="col-form-label" th:text="#{host.state}"></label>
                                <select id="state" name="state" class="form-control" th:field="*{state}">
                                    <option th:value="null"></option>
                                    <option th:each="state : ${T(random.telegramhomebot.model.HostState).values()}"
                                            th:value="${state}" th:text="${state.name()}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="deviceName" class="col-form-label" th:text="#{host.device}"></label>
                                <input type="text" th:field="*{deviceName}" class="form-control"
                                       id="deviceName" th:placeholder="#{host.device}"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="notes" class="col-form-label" th:text="#{host.notes}"></label>
                                <textarea th:field="*{notes}" class="form-control"
                                          id="notes" th:placeholder="#{host.notes}"
                                          rows="10" cols="80"></textarea>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="wakeOnLanEnabled" th:text="#{host.wakeOnLanEnabled}"></label>
                                <input type="checkbox" name="wakeOnLanEnabled" th:checked="${host.wakeOnLanEnabled}"
                                       id="wakeOnLanEnabled" style="margin-left: 2px;"/>
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" th:value="#{btn.submit}">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
