<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title=${command.id} ? #{edit.command} : #{add.command}">

<head>
    <title th:text="${title}"></title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <h3 th:text="${title}"></h3>
        <div class="card card-body">
            <form action="#" th:action="@{/commands/createCommand}" th:object="${command}" method="post">

                <div class="form-group">
                    <label for="commandAlias" th:text="#{command.alias}"></label>
                    <input type="text" th:field="*{commandAlias}" class="form-control"
                           id="commandAlias" th:placeholder="#{command.alias}"/>
                </div>
                <div class="form-group">
                    <label for="command" th:text="#{command.command}"></label>
                    <input type="text" th:field="*{command}" class="form-control"
                           id="command" th:placeholder="#{command.command}"/>
                </div>
                <div class="form-group">
                    <label for="enabled" th:text="#{command.enabled}"></label>
                    <input type="checkbox" name="enabled" th:checked="${command.enabled}" id="enabled"
                           style="margin-left: 2px;"/>
                </div>

                <input type="submit" class="btn btn-primary" th:value="#{btn.submit}">

                <input type="hidden" id="id" th:field="*{id}">
            </form>
        </div>
    </div>
</div>
</body>

</html>
