<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Add | Edit Host</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <h3> Add | Edit Host</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/hosts/createHost}" th:object="${host}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="ip" class="col-form-label">IP</label>
                                <input type="text" th:field="*{ip}" class="form-control"
                                       id="ip" placeholder="IP"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="mac" class="col-form-label">MAC</label>
                                <input type="text" th:field="*{mac}" class="form-control"
                                       id="mac" placeholder="MAC"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="hostInterface" class="col-form-label">Interface</label>
                                <input type="text" th:field="*{hostInterface}" class="form-control"
                                       id="hostInterface" placeholder="Interface"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="state" class="col-form-label">State</label>
                                <input type="text" th:field="*{state}" class="form-control"
                                       id="state" placeholder="State"/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="deviceName" class="col-form-label">Device Name</label>
                                <input type="text" th:field="*{deviceName}" class="form-control"
                                       id="deviceName" placeholder="Device Name"/>
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>