<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title th:text="#{hosts}"></title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div id="add-command-btn">
            <a href="/hosts/edit" class="btn btn-primary">
                <i class="fas fa-plus">
                    <span th:text="#{add.host}" class="ml-1">Resume</span>
                </i>
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="#{host.ip}"></th>
                    <th th:text="#{host.mac}"></th>
                    <th th:text="#{host.interface}"></th>
                    <th th:text="#{host.state}"></th>
                    <th th:text="#{host.device}"></th>
                    <th th:text="#{column.edit}"></th>
                    <th th:text="#{column.delete}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="host : ${hosts}">
                    <td th:text="${host.ip}"></td>
                    <td th:text="${host.mac}"></td>
                    <td th:text="${host.hostInterface}"></td>
                    <td th:text="${host.state}"></td>
                    <td th:text="${host.deviceName}"
                        th:style="${host.state == T(random.telegramhomebot.model.HostState).FAILED ? 'color: red;' : 'color: green;'}"></td>
                    <td>
                        <a th:href="@{/hosts/edit/{id}(id=${host.id})}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/hosts/delete/{id}(id=${host.id})}" class="btn btn-danger"
                           th:data-confirm-delete="|#{host.confirm.delete} '${host.deviceName}'?|"
                           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>