<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<head>
    <title th:text="#{hosts}"></title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="btn-block">
            <a href="/hosts/edit" class="btn btn-primary" sec:authorize="hasRole('ADD_HOST')">
                <i class="fas fa-plus"><span th:text="#{add.host}" class="ml-1"></span></i>
            </a>
            <a href="/hosts/export" class="btn btn-primary" download sec:authorize="hasRole('EXPORT_CSV_HOSTS')">
                <i class="fas fa-file-export"><span th:text="#{host.export}" class="ml-1"></span></i>
            </a>
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modal-warning"
               th:attr="data-target='#modal-warning'" sec:authorize="hasRole('IMPORT_CSV_HOSTS')">
                <i class="fas fa-file-import"><span th:text="#{host.import}" class="ml-1"></span></i>
            </a>
        </div>

        <!-- TODO: impl error message -->
        <!--        <div class="alert alert-danger" role="alert" th:if="${message != null}">-->
        <!--            <strong>Error:</strong><span th:text="${message}"></span>-->
        <!--        </div>-->

        <div class="table-responsive" sec:authorize="hasRole('VIEW_HOSTS')">
            <div th:replace="fragments/paginator :: paginator(${pager})"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="|#{host.ip} / #{host.mac}|"></th>
                    <th th:text="#{host.device}"></th>
                    <th th:text="#{column.edit}" sec:authorize="hasRole('EDIT_HOST')"></th>
                    <th th:text="#{column.delete}" sec:authorize="hasRole('DELETE_HOST')"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="host : ${hosts}">
                    <td th:text="|${#strings.isEmpty(host.ip) ? 'NONE' : host.ip} / ${host.mac}|"></td>
                    <td th:text="${host.deviceName}"
                        th:style="${host.state == null or host.state == T(random.telegramhomebot.model.HostState).FAILED
                        ? 'color: red;' : 'color: green;'}"></td>
                    <td sec:authorize="hasRole('EDIT_HOST')">
                        <a th:href="@{/hosts/edit/{id}(id=${host.id})}" class="btn btn-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td sec:authorize="hasRole('DELETE_HOST')">
                        <a th:href="@{/hosts/delete/{id}(id=${host.id})}" class="btn btn-danger"
                           th:data-confirm-delete="|#{host.confirm.delete} '${host.deviceName}'?|"
                           onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:replace="fragments/paginator :: paginator(${pager})"></div>
        </div>
    </div>
    <div class="modal modal-warning fade in" th:id="modal-warning">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{import.hosts}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <form id="import-hosts-to-csv-form" method="POST" th:action="@{/hosts/import}"
                      enctype="multipart/form-data" style="align-self: center">
                    <div class="form-group mt-3">
                        <label for="file" th:text="#{select.csv.file}"></label>
                        <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
                    </div>
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal"
                            th:text="#{btn.close}"></button>
                    <!-- TODO: impl error handling -->
                    <button type="submit" class="btn btn-primary" form="import-hosts-to-csv-form"
                            th:text="#{import.hosts}"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
