<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Time Log</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let timeLogMap = /*[[${timeLogMap}]]*/ null;
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/timeLog.js}"></script>

</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/hosts/time-log}">
            <div class="project-list single">
                <label for="date-started">Date started:</label>
                <input th:name="startDate" type="date" th:value="*{startDate}" id="date-started"/>

                <label for="date-ended">Date ended:</label>
                <input th:name="endDate" type="date" th:value="*{endDate}" id="date-ended"/>

                <button type="submit" class="button">Show</button>
            </div>
        </form>
        <div id="time_log_table"></div>
    </div>
</div>

</body>
</html>
